<div class="container">
  <div class="row">
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-8">
         <%= link_to "Help", help_path %> |
         <%= link_to "Teachers by Mini", teacher_path %> | Solutions |
         <a href="https://www.dropbox.com/s/unz50mc7wp9qn5u/Micro%20Prelim_Werner.pdf">Werner</a> |
         <a href="https://www.dropbox.com/s/tgtfosxti1d9s28/Micro_Prelim_Allen.pdf">Allen</a> |
         <a href="https://www.dropbox.com/s/rp7qnltipbdiv38/Micro%20Prelim_Rustichini.pdf">Rustichini</a> |
         <a href="https://www.dropbox.com/s/mzppggpbqtlaqk1/Rahman_Final_2014.pdf">Rahman</a> |
         <a href="https://www.dropbox.com/s/23lsqp4nmkt3dhk/Macro_Prelim_Kehoe.pdf">Kehoe</a> |
         <a href="https://www.dropbox.com/s/65bhe203gb8bwzx/Macro_Prelim_Jones.pdf">Jones</a> |
         <a href="https://www.dropbox.com/s/gskvbhg4rvaci5c/Macro_Prelim_Chari.pdf">Chari</a> |
         <a href="https://www.dropbox.com/s/5h0h8mliuc4f5sj/Macro_Prelim_Rios.pdf">Rios-Rull</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right"></p>
      </div>
    </div>
  </div>
</div>
