<div class="container">
  <div class="row">
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-4">
         <%= link_to "Help", help_path %> |
         <%= link_to "Teachers by Mini", teacher_path %>
         <a href="https://www.dropbox.com/s/ej7axj4hv2bgn83/Micro%20Prelim_Werner.pdf">Werner Solutions</a>
         <a href="https://www.dropbox.com/s/snahlkzn16qovb9/Micro_Prelim_Allen.pdf">Allen Solutions</a>
         <a href="https://www.dropbox.com/s/6ej5jt17zys6mr9/Micro%20Prelim_Rustichini.pdf">Rustichini Solutions</a>
         <a href="">Rahman Solutions</a>
         <a href="https://www.dropbox.com/s/6glgrko2h2y2j3r/Macro_Prelim_Kehoe.pdf">Kehoe Solutions</a>
         <a href="https://www.dropbox.com/s/os7fswej6xn8o3d/Macro_Prelim_Jones.pdf">Jones Solutions</a>
         <a href="https://www.dropbox.com/s/636aehln3ld3bgv/Macro_Prelim_Chari.pdf">Chari Solutions</a>
         <a href="">Rios-Rull Solutions</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2014 Beth Allen :). All rights reserved</p>
      </div>
    </div>
  </div>
</div>
