<div class="container">
  <div class="row">
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-8">
         <%= link_to "Help", help_path %> |
         <%= link_to "Teachers by Mini", teacher_path %> | Solutions |
         <a href="https://www.dropbox.com/s/6hcuxrtnhn6fane/micro%20prelim_werner.pdf">Werner</a> |
         <a href="https://www.dropbox.com/s/85wcveijry8i9ix/Micro_Prelim_Allen.pdf">Allen</a> |
         <a href="https://www.dropbox.com/s/md35s65bg90hkiy/Micro%20Prelim_Rustichini.pdf">Rustichini</a> |
         <a href="">Rahman</a> |
         <a href="https://www.dropbox.com/s/u9btc68s3610xej/Macro_Prelim_Kehoe.pdf">Kehoe</a> |
         <a href="https://www.dropbox.com/s/3qc9h697j8ejg3c/Macro_Prelim_Jones.pdf">Jones</a> |
         <a href="https://www.dropbox.com/s/5ikree8maujmcvm/Macro_Prelim_Chari.pdf">Chari</a> |
         <a href="https://www.dropbox.com/s/w8wqaftxe54fmio/Macro_Prelim_Rios.pdf">Rios-Rull</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2014 Beth Allen :). All rights reserved</p>
      </div>
    </div>
  </div>
</div>
